{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}
<br>
{% include 'ecom/admin_dashboard_cards.html' %}
<br><br>

<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <div class="card-header bg-dark text-white text-center">
            <h5 class="mb-0">Recent Orders</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Customer</th>
                        <th>Contact</th>
                        <th>Shipment Address</th>
                        <th>Product</th>
                        <th>Image</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product, customer, order in data %}
                    <tr>
                        {% for c in customer %}
                        <td>{{ c.get_name }}</td>
                        <td>{{ c.mobile }}</td>
                        <td>{{ order.address }}</td>
                        {% endfor %}
                        
                        {% for p in product %}
                        <td>{{ p.name }}</td>
                        <td>
                            <img src="{% static p.product_image.url %}" alt="Product Image" class="img-thumbnail" style="height: 40px; width: 40px;">
                        </td>
                        
                        <td>
                            <span class="badge {% if order.status == 'Pending' %}bg-info{% elif order.status == 'Delivered' %}bg-success{% elif order.status == 'Out for Delivery' %}bg-warning{% else %}bg-primary{% endif %}">
                                {{ order.status }}
                            </span>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}